.todo_card {
  /* width: 56rem;
  height: 30rem; */
  background-color: #d2f6c5;
  min-height: 500px;
width: 800px;
margin: 40px auto;
  /* margin: 20px; */
  /* padding: 0 20px; */
}
.todo_trash {
    position: absolute;
    left: 46rem;
}

.todo_li
{
text-align: initial;
/*     */
}

@media only screen and (max-width: 768px)
{
  .todo_card {
    width: 335px;
  }
  .todo_trash
  {
    left: 19rem;
  }
}